<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mybyd.autostart"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GPS_ALTITUDE_CHANGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.BYD_CAMERA"/>
    <uses-permission android:name="android.permission.BYDAUTO_INSTRUMENT_COMMON"/>
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_COMMON"/>
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_GET"/>
    <uses-permission android:name="android.permission.BYDAUTO_STATISTIC_GET"/>
    <uses-permission android:name="android.permission.BYDAUTO_POWER_GET"/>
    <uses-permission android:name="android.permission.BYDAUTO_POWER_SET"/>
    <uses-permission android:name="android.permission.BYDAUTO_SPECIAL_SET"/>
    <uses-permission android:name="android.permission.BYDAUTO_PANORAMA_COMMON"/>
    <uses-permission android:name="android.permission.BYDAUTO_PANORAMA_GET"/>
    <uses-permission android:name="android.permission.BYDAUTO_PANORAMA_SET"/>
    <uses-permission android:name="android.permission.BYDAUTO_VIDEO_SET"/>
    <uses-permission android:name="android.permission.BYDAUTO_VIDEO_GET"/>
    <uses-permission android:name="android.permission.BYDAUTO_GEARBOX_GET"/>
    <uses-permission android:name="com.byd.ditrainer.permission.CORE"/>
    <uses-permission android:name="com.byd.autovoice.permission.thirdapp"/>
    <uses-permission android:name="com.byd.autovoice.permission.tts"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <meta-data
            android:name="design_width_in_dp"
            android:value="1920"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="1080"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:turnScreenOn="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:priority="9900"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
                <action android:name="com.byd.action.IGNITION_ON"/>
                <action android:name="com.byd.action.ACC_ON"/>
                <action android:name="com.byd.action.VEHICLE_UNLOCK"/>
                <action android:name="com.byd.action.POWER_ON"/>
                <action android:name="com.byd.action.SYSTEM_WAKEUP"/>
                <action android:name="com.byd.action.AUTO_START"/>
                <action android:name="com.byd.dilink.action.WAKEUP"/>
                <action android:name="com.dilink.action.BOOT_COMPLETED"/>
                <action android:name="com.byd.ivi.action.SYSTEM_READY"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
